@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215.29 100% 3.33%;

    --primary: 214.88 100% 33.73%;
    --primary-foreground: 215.29 51.52% 93.53%;

    --card: 213.33 52.94% 96.67%;
    --card-foreground: 215.29 100% 3.33%;

    --popover: 0 0% 100%;
    --popover-foreground: 215.29 100% 3.33%;

    --secondary: 214.62 52% 90.2%;
    --secondary-foreground: 0 0% 0%;

    --muted: 215.29 51.52% 93.53%;
    --muted-foreground: 0 0% 40%;

    --accent: 215.29 51.52% 93.53%;
    --accent-foreground: 214.62 100% 5.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 215.29 50% 86.67%;
    --input: 215.45 20.75% 79.22%;
    --ring: 214.88 100% 33.73%;

    --chart-1: 214.88 100% 33.73%;
    --chart-2: 214.93 65.77% 43.53%;
    --chart-3: 214.82 50.91% 56.86%;
    --chart-4: 215.11 50.54% 63.53%;
    --chart-5: 214.62 51.32% 70.2%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 214.62 52% 90.2%;

    --primary: 214.88 100% 33.73%;
    --primary-foreground: 215.29 51.52% 93.53%;

    --card: 220 23.08% 5.1%;
    --card-foreground: 214.62 52% 90.2%;

    --popover: 0 0% 0%;
    --popover-foreground: 214.62 52% 90.2%;

    --secondary: 215 100% 11.76%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 9.8%;
    --muted-foreground: 0 0% 50.2%;

    --accent: 215 100% 11.76%;
    --accent-foreground: 214.62 52% 90.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 215.29 100% 6.67%;
    --input: 215.29 18.28% 18.24%;
    --ring: 214.88 100% 33.73%;

    --chart-1: 214.88 100% 33.73%;
    --chart-2: 214.93 100% 28.63%;
    --chart-3: 214.82 100% 21.96%;
    --chart-4: 214.74 100% 18.63%;
    --chart-5: 215.06 100% 15.1%;

    --radius: 0.5rem;
  }
  * {
    @apply border-border scroll-smooth;
    font-family: "Quicksand", sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }

  .banner {
    @apply relative bg-foreground text-primary-foreground overflow-hidden;
  }
  .banner-container {
    @apply container mx-auto min-h-[40rem] px-4 py-8 sm:py-16 md:py-24 relative z-10 flex items-center;
  }
  .banner-wrapper {
    @apply text-center w-full p-4 sm:p-8 md:p-16 lg:p-32;
  }

  .polygon {
    @apply absolute bottom-0 left-0 right-0 h-16 sm:h-24 bg-background;
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
  }
}

@layer utilities {
  .title {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold tracking-tight mb-4;
  }
  .description {
    @apply text-base sm:text-lg md:text-xl max-w-2xl mx-auto mb-8;
  }
}
